**/[Bb]in/
**/[Oo]bj/
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.config
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/*.yml
**/*.yaml
LICENSE
README.md
