@page
@model KubernetesProbeDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Kubernetes Probe Demo";
}

<h2>Kubernetes Probe Demo</h2>
<h5>@Environment.MachineName</h5>

<div>
    <a href="/swagger">Play with the demo</a>
</div>
