@page
@model KubernetesProbeDemo.Pages.IndexModel
@{
    ViewData["Title"] = "Kubernetes Probe Demo";
}

<h2>Kubernetes Probe Demo</h2>
<h5><a href="/api/healthcheck">@Environment.MachineName</a></h5>

<div>
    <a href="/swagger">Play with the demo</a>
</div>
